#floatLabel {
    position: absolute;
    color: darkgrey;
    top: 217px;
    left: 976px;
}

h5 {
    text-decoration-line: underline;
    text-decoration-color: #00d2e0;
    text-decoration-thickness: 5px;
    text-underline-position: under;
    text-underline-offset: 18px;
  }